{% load static %}
<!DOCTYPE html>
<html lang='fr'>
  <head>
      <meta charset='UTF-8'>
      <title>LITReview</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="d-flex flex-column h-100">
      <div class="row gx-0">
        <div class="col-12">
          <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                {% if not request.is_authenticated %}
                <div class="navbar-header d-flex flex-row">
                {% else %}
                <div class="navbar-header d-flex flex-row">
                {% endif %}
                  <a class="navbar-brand mx-auto" href="/">LITReview</a>
                  <div>
                  {% if not request.is_authenticated %}
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Flux</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Posts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Abonnements</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="deconexion" href="#">Se déconnecter</a>
                      </li>
                    </ul>
                  </div>
                </div>
                {% else %}
                <div id="unauthenticated_user_bar"> </div>
                {% endif %}
              </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="row gx-0 justify-content-center flex-grow-1 flex_shrink-0 w-auto" style="background-color: rgb(233,233,233);">
        <div class="col-12">
        {% block body %}{% endblock %}
        </div>
      </div>
      <div class="row gx-0 flex-shrink-0">
        <div class="col-12">
          <footer class="bg-light h-100">
            <p id="footer_message">LITReview_project</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>