{% extends 'review/base.html'  %}
Index
{% block body %}
	<div class="col-10">
		{% if page == '/' %}
		<h1 class="bd-title fs-3 m-2">Bonjour {{user}} !</h1>
		{% endif %}
		<div class="d-flex h-75">
			<div class="col-12 border rounded align-self-center">
				{% if not ticket_to_display %}
				<h1 class="fs-4">Oups... on dirait que votre flux est vide!</h1>
				<p>Pas d'inquiétudes :)</p>
				<div class="d-flex justify-content-around">
					<a href="{% url 'review:subscription_page' %}">s'abonner!</a>
					<a href="{% url 'review:new_ticket' %}">Créer une critique!</a>
					<a href="{% url 'review:new_ticket' %}">Créer un nouveau ticket!</a>
				</div>
				{% endif %}
				{% for ticket in ticket_to_display %}
					<h1>{{ ticket.title }}</h1>
					<p>{{ticket.description}}</p>
					<img src="media/{{ ticket.image }}">
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}