{% extends 'review/base.html'  %}
{% block body %}
	<div class="col-10">
		{% if section == 'flux' %}
		<div class="d-flex col-lg-9 col-12 m-2 justify-content-around mx-auto">
				<button class="btn-sm btn-outline-secondary col-lg-4 col-5 m-2" onclick="window.location.href= '{% url 'review:new_ticket' %}'"> Demander une critique</button>
				<button class="btn-sm btn-outline-secondary col-lg-4 col-5 m-2" onclick="window.location.href= '{% url 'review:new_ticket' %}'"> Créer une critique</button>
		</div>
		{% endif %}
		{% if not ticket_to_display %}
		<div class="d-flex h-75">
			<div class="col-lg-8 col-12 border rounded align-self-center mx-auto">
				<h1 class="fs-4 text-center">Oups... on dirait que votre flux est vide!</h1>
				<br>
				<div class="d-flex justify-content-around">
					<a href="{% url 'review:subscription_page' %}">s'abonner!</a>
					<a href="{% url 'review:new_ticket' %}">Créer une critique!</a>
					<a href="{% url 'review:new_ticket' %}">Créer un nouveau ticket!</a>
				</div>
			</div>
		</div>
		{% endif %}
		<div>
			{% for ticket in ticket_to_display %}
			{% include 'includes/ticket.html' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}