{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
  <div class="col-8">
    <br>
    {% if page == '/new_ticket/'%}
    <h1 class="fs-5 text-center">Créer un nouveau ticket</h1>
    {% else %}
    <h1 class="fs-5 text-center">Modifier votre ticket</h1>
    <p class="fs-5">Titre: {{ticket.title}}</p>
    {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <br>
        {% if page == '/new_ticket/'%}
        <button type="submit" class="btn btn-primary float-end">Envoyer</button>
        {% else %}
        <button type="submit" class="btn btn-primary float-end">Modifier</button>
        <button type="button" class="btn btn-secondary float-end me-2 " onclick="window.location.href= '{% url 'review:index' %}'">Annuler</button>
        {% endif %}
      </form>
  </div>
{% endblock %}