{% extends 'review/base.html'  %}
{% load static %}

{% block body %}
  <div class="col-8 border rounded m-3">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="border-bottom">
        <div class="m-2">
          <h1 class="fs-5 text-center">Créer votre ticket</h1>
          {% for form in form_ticket_list %}
            {% include 'includes/form.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="m-2">
        <h1 class="fs-5 text-center">Créer votre critique</h1>
          {% for form in form_review_list %}
            {% include 'includes/form.html' %}
          {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary float-end m-2">Envoyer</button>
      </div>
    </form>
  </div>
{% endblock %}