{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
  <div class="col-8">
    <br>
    {% if page == '/new_ticket/'%}
    <h1 class="new_ticket_title">Créer un nouveau ticket</h1>
    {% else %}
    <h1 class="new_ticket_title">Modifier votre ticket</h1>
    {% endif %}
    <br>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}

          {% render_field field class="form-control" %}

          {% endfor %}
        </div>
        <br>
        {% if page == '/new_ticket/'%}
        <button type="submit" class="btn btn-primary float-end">Envoyer</button>
        {% else %}
        <button type="submit" class="btn btn-primary float-end">Modifier</button>
        <button type="button" class="btn btn-secondary float-end me-2 " onclick="window.location.href= '{% url 'review:index' %}'">Annuler</button>
        {% endif %}

      </form>
  </div>
{% endblock %}