{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
<div class="col-12 col-md-8 align-self-center">
  <br>
  <h1 class="new_ticket_title">Inscrivez-vous</h1>
  <br>
    <form method="post" class="justify-content-center col-10 mx-auto">
      {% csrf_token %}
      <div class="col-sm-6 col-9 mx-auto">
        <div class="form-group">
          <label for="id_subject">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="id_user_name" name="user_name">
        </div>
        <br>
        <div class="form-group">
          <label for="id_message">Mot de passe</label>
          <input type="text" class="form-control" id="id_user_mdp_1" name="mdp_1">
        </div>
        <br>
        <div class="form-group">
          <label for="id_message" class="text-nowrap">Confirmez votre Mot de passe</label>
          <input type="text" class="form-control" id="id_user_mdp_2" name="mdp_2">
        </div>
      </div>
      <br>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">S'inscrire !</button>
        <button type="button" class="btn btn-secondary me-2">Retourner</button>
      </div>
    </form>
</div>
{% endblock %}