{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
  <div class="col-10">
      <h1 class="text-center fs-4 m-3">Suivre d'autres utilisateurs</h1>
      <div>
          <form method="post" class="d-flex m-3 col-9 col-sm-5 mx-auto">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button class="btn btn-outline-success" type="submit">Envoyer</button>
          </form>
      </div>
      <div>
          <h1 class="text-center fs-4 m-3">Abonnement(s)</h1>
          <ul class="h-25 col-9 border mx-auto">

          </ul>
      </div>
      <div class="justify-content-center">
          <h1 class="text-center fs-4 m-3">Abonné(es)</h1>
          <ul class="h-25 col-9 border mx-auto">

          </ul>
      </div>
  </div>
{% endblock %}