{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
  <div class="col-10">
      <h1 class="text-center fs-4 m-3">Suivre d'autres utilisateurs</h1>
      <div>
          <form class="d-flex m-3 col-md-8 col-12 mx-auto" action="" method="get">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="subscribe_to" >
              <button class="btn btn-outline-success m-2" type="submit">Envoyer</button>
          </form>
      </div>
      <div>
          <h1 class="text-center fs-4 m-3">Abonnement(s)</h1>
          <ul class="h-25 border mx-auto col-md-8 col-12 list-unstyled overflow-scroll">
              {% for sub in list_of_following_users %}
              <li class="m-2">
                  <div class="w-100 border-bottom">
                      <div class="d-flex">
                         <p class="col-8">{{ sub.followed_user}} </p>
                        <div class="col-4 text-end">
                            <button class="btn-sm btn-danger align-middle" type="button" onclick="window.location.href= '{{sub.id}}/delete_subscription/'">Se désabonner</button>
                        </div>
                      </div>
                  </div>
              </li>
              {% endfor %}
          </ul>
      </div>
      <div class="justify-content-center">
          <h1 class="text-center fs-4 m-3">Abonné(es)</h1>
          <ul class="h-25 border mx-auto col-md-8 col-12 list-unstyled overflow-scroll">
              {% for sub in list_of_followed_users %}
              <li class="m-2 border-bottom">
                  <p class="col-12"> {{ sub.user }}</p>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
{% endblock %}