{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
  <div class="col-10 align-self-center mx-auto">
      <form method="post">
          {% csrf_token %}
        <h1 class="fs-5 text-center">Souhaitez-vous vraiment vous désabonner de "{{ object.followed_user }}"?</h1>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger m-1" type="submit" >oui</button>
              <button class="btn btn-primary m-1" type="button" onclick="window.location.href= '{% url 'review:subscription_page' %}'" >non</button>
          </div>
      </form>
  </div>
{% endblock %}