.ticket_main
{
    max-width: 75%;
    height: 100%;
    margin: auto;
}

.new_ticket_title
{
    font-size: 1.2em;
    text-align: center;
}

.form_body
{
    width: 50%;
    height: 100%
    margin: auto;
}