{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
<div class="col-12 d-flex flex-column-reverse flex-md-row justify-content-around">
  <div class="col-md-6 col-12 align-self-md-center">
    <br>
    <h1 class="new_ticket_title">Inscrivez-vous maintenant</h1>
    <br>
    <div class="text-center mb-2 mb-md-0">
      <button type="submit" class="btn btn-primary" onclick="window.location.href= '{% url 'review:new_account' %}'">S'inscrire !</button>
    </div>
  </div>
  <div class="col-md-6 col-12 justify-content-center align-self-md-center">
    <br>
    <h1 class="new_ticket_title">Connectez-vous !</h1>
    <br>
      <form method="post" class="col-md-6 col-8 mx-auto">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_subject">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="id_user_name" name="user_name">
        </div>
        <br>
        <div class="form-group">
          <label for="id_message">Mot de passe</label>
          <input type="text" class="form-control" id="id_user_mdp_1" name="mdp_1">
        </div>
        <br>
        <button type="submit" class="btn btn-primary float-end">Se connecter !</button>
      </form>
  </div>
</div>
{% endblock %}