{% extends 'review/base.html'  %}
{% load static %}
{% block body %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_ticket_style.css' %}">
<div class="col-12 col-md-8 align-self-center">
  <br>
  <h1 class="new_ticket_title">Inscrivez-vous</h1>
  <br>
    <form method="post" class="justify-content-center col-10 mx-auto">
      {% csrf_token %}
      <div class="col-sm-6 col-9 mx-auto">
      {% include 'includes/form.html' %}
      </div>
      <br>
      <div class="text-end mb-2 col-md-8 col-sm-6 col-10 mx-auto ">
        <button type="button" class="btn btn-secondary me-2">Retourner</button>
        <button type="submit" class="btn btn-primary">S'inscrire !</button>
      </div>
    </form>
</div>
{% endblock %}