{% load widget_tweaks %}
{% load form_tags %}

{% for field in form %}
{% if field|field_type == 'RadioSelect' %}
  <div class="form-group d-flex flex-column">
    {{ field.label_tag }}
    {% render_field field class="form-check" %}
  </div>
{% else %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class=field|input_class %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
    {% endif %}
{% endfor %}