{% load form_tags %}
{% load static %}

  <div class="col-12 col-lg-8 border rounded m-2 p-2 mx-auto">
       <div class="d-flex justify-content-between">
           {% if post.user == user %}
           <p class="text-muted fs-6">Vous avez publié une critique</p>
           {% else %}
           <p class="text-muted fs-6">{{post.user}} à publié une critique</p>
           {% endif %}
           <p class="text-muted fs-6">{{post.time_created}}</p>
       </div>
      <div class="d-flex align-items-center">
        <p class="fs-3 m-2">{{ post.headline }} - </p>
          <div class="d-flex">
              {% for round in range %}
              {% if round < post.rating %}
              <i class="las la-star"></i>
              {% else %}
              <i class="lar la-star"></i>
              {% endif %}
              {% endfor %}
          </div>
      </div>
      <p class="m-2">{{post.body}}</p>
      <div class="d-flex">
          {% if page %}
          <div class="d-flex flex-row align-items-end ms-auto">
              {% if post.user == user %}
              <button class="btn btn-danger m-2" onclick="window.location.href= 'delete_review/{{post.id}}/'">supprimer</button>
              <button class="btn btn-success m-2" onclick="window.location.href= 'update_review/{{post.id}}/'">Editer</button>
              {% endif %}
          </div>
          {% endif %}
      </div>
            <div class="border-top">
        <div class="m-2">
            <div class="col-12 col-lg-10 border rounded m-2 p-2 mx-auto">
                <div class="d-flex justify-content-between">
                   {% if post.ticket.user == user %}
                   <p class="text-muted fs-6">Vous avez demandé une critique</p>
                   {% else %}
                   <p class="text-muted fs-6">{{post.ticket.user}} a demandé une critique</p>
                   {% endif %}
                   <p class="text-muted fs-6">{{post.ticket.time_created}}</p>
                </div>
                <p class="fs-3">{{ post.ticket.title }}</p>
                <p>{{post.ticket.description}}</p>
                <div class="d-flex">
                  {% if post.ticket.image %}
                  <img class="border" src="/media/{{ post.ticket.image }}" style="width: 12rem">
                  {% endif %}
                </div>
            </div>
        </div>
      </div>
  </div>
