{% load form_tags %}
{% load static %}

{% if post.user == user %}
<div class="col-12 col-lg-8 border rounded m-2 p-2 mx-auto bg-light">
  <div class="d-flex justify-content-between">
      <p class="text-muted fs-6">Vous avez demandé une critique</p>
{% else %}
<div class="col-12 col-lg-8 border rounded m-2 p-2 mx-auto">
  <div class="d-flex justify-content-between">
      <p class="text-muted fs-6">{{post.user}} a demandé une critique</p>
{% endif %}
       <p class="text-muted fs-6">{{post.time_created}}</p>
   </div>
      <p class="fs-3">{{ post.title }}</p>
      <p>{{ post.description }}</p>
   <div class="d-flex">
      {% if post.image %}
      <img class="border" src="/media/{{ post.image }}" style="width: 12rem">
      {% endif %}
      {% if ticket_button %}
       {% if not post.review_set.all %}
      <div class="d-flex flex-row align-items-end ms-auto col-12">
          <button class="btn btn-primary m-2" onclick="window.location.href= 'answer_ticket/{{post.id}}/'">Répondre</button>
      {% else %}
          <div class="d-flex flex-column mx-auto flex-grow-1">
            <div class="d-flex mx-auto mt-auto align-self-center p-2">
            {% if post|author_name == user %}
                <small>Vous avez déjà posté une critique sur ce livre</small>
            </div>
            {% else %}
                <small>Ce livre à déjà été critiqué par {{post|author_name}}</small>
            </div>
            {% endif %}
      <div class="d-flex flex-row align-items-bottom ms-auto mt-auto">
      {% endif %}
          {% if post.user == user %}
          <button class="btn btn-danger m-2" onclick="window.location.href= 'delete_ticket/{{post.id}}/'">supprimer</button>
          <button class="btn btn-success m-2" onclick="window.location.href= 'update_ticket/{{post.id}}/'">Editer</button>
          {% endif %}
      {% if post.review_set.all %}
      </div>
      {% endif %}
      </div>
      {% endif %}
  </div>
</div>