{% load form_tags %}
{% load static %}

  <div class="col-12 col-lg-8 border rounded m-2 mx-auto">
       <div class="d-flex justify-content-between">
           {% if post.user == user %}
           <p>Vous avez demandé une critique</p>
           {% else %}
           <p>{{post.user}} a demandé une critique</p>
           {% endif %}
           <p>{{post.time_created}}</p>
       </div>
      <p class="fs-3">{{ post.title }}</p>
      <p>{{ post.description }}</p>
      <div class="d-flex">
          {% if post.image %}
          <img class="m-2" src="/media/{{ post.image }}" style="width: 12rem">
          {% endif %}
          {% if page %}
          <div class="d-flex flex-row align-items-end ms-auto m-2">
              <button class="btn btn-primary m-2" onclick="window.location.href= 'answer_ticket/{{post.id}}/'">Répondre</button>
              {% if post.user == user %}
              <button class="btn btn-danger m-2" onclick="window.location.href= 'delete_ticket/{{post.id}}/'">supprimer</button>
              <button class="btn btn-success m-2" onclick="window.location.href= 'update_ticket/{{post.id}}/'">Editer</button>
              {% endif %}
          </div>
          {% endif %}
      </div>
  </div>
